<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <br class="container">
    <br>
        <h1>Welcome to BETA <br>Flight Booking System</h1>
        <br>
        <p>Manage your flights and bookings easily.</p>
        <br>
        <br>
   </br>
        <a href="/flights"class="btn">View Flights</a>
        <a href="/add_flight" class="btn">Add a Flight</a>
        <a href="/book_flight" class="btn">Book a Flight</a>
    </div>

</body>
</html>
